{% load static %}
<html>
<head>
    <title>Smartcerv photo upload</title>
    <link rel="stylesheet" type="text/css" href="{% static 'photo_upload/style.css' %}" />
</head>

<body>
    <h1>Smartcerv photo upload</h1>
    <!--
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ photo_request.html }}
        <input type="submit" value="Submit">
    </form>
    -->
    
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ latest_question_list }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>